<% content_for :title do %>
  Last Week
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="checkincount" data-view="Number" data-title="Check ins"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="peoplecount" data-view="Number" data-title="People"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="locationcount" data-view="Number" data-title="Places"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Last week" data-text="" data-moreinfo=""></div>
    </li>
  </ul>
</div>
